h1 {
  color: white; 
}

h1 { 
  background-color: #00CED1;

}

p {
  color: red;
}


img {
  width: 300px; 
  
}

img.galleryImage {
  width: 300px; 
  
}

body {
  
  background-color: #E0FFFF;
  
}

h2 {
  color: black;
  
  
}

.center { 
 margin: auto;
  
}

